.container {
  overflow-y: scroll;
  overflow-x: hidden;

  .party {
    &:nth-child(odd) {
      background: whitesmoke;
    }
    .header {
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      padding: 35px 0;
    }

    .people {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      padding: 0 25px 50px;
    }
  }
}
