.container {
  display: flex;
  flex-flow: column;
  height: 100%;

  .options {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    .sort {
      display: flex;
      flex: 1;
      align-items: flex-end;

      > div {
        height: 35px;
        cursor: pointer;
      }

      svg {
        height: 100%;
      }
    }

    .filtering {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      justify-content: flex-end;
    }
  }
}

@media screen and (min-width: 750px) {
  .container {
    .options {
      padding-bottom: 50px;
    }
  }
}
